{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/contact.jpg')}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon
                    as possible!</p>
                <div class="my-5">
                    <form name='sentMessage' id ='contactForm' action ='/contact' method='post'novalidate >
                        <div class="form-floating">
                            <input class="form-control" id="inputName" type="text" placeholder="Enter your name..." name ='name'/>
                            <label for="inputName">Name</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputEmail" type="email"
                                placeholder="Enter your email..." name = 'email'/>
                            <label for="inputEmail">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="inputPhone" type="tel"
                                placeholder="Enter your phone number..." name ='phone'  />
                            <label for="inputPhone">Phone Number</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="inputMessage" placeholder="Enter your message here..." name ='message'
                                style="height: 12rem"></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <br />
                        <button class="btn btn-primary text-uppercase" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}